{% extends '::base.html.twig' %}

{% block main %}
     <div class="inner-page">
        <div class="page-header">
            {% include '::breadCrumbs.html.twig' with {'breadCrumbs':breadCrumbs} %}
            <div class="center">
                <h1 class="title">{{ airport.title }}</h1>
            </div>
        </div>
        <div class="center">
            {% include 'NewVisionFrontendBundle:Frontend:ordersForm.html.twig' with {'airport': airport, 'from': from, 'to': to, 'orderTime': orderTime} %}
        </div>
    </div>
{% endblock %}
{% block footerJS %}
    {{ parent() }}
{% endblock %}