{% extends '::base.html.twig' %}

{% block main %}
<div id="content">
    <div class="inner-page">
        <div class="page-header">
            <div class="center">
                <h1 class="title">Oops!</h1>
            </div>
        </div>
        <div class="center">
            <article>
                <div class="error">
                    Your payment has been cancelled!
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}