/* new new new 19092016 *** */

* {
    outline: none;
    }

/* ::selection {background: orange; color: white;} */

article, aside, details, div, figcaption, figure, footer, header, hgroup, nav, section {display: block;}

body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, form, blockquote, dl, dt, dd, button, input {
    margin: 0;
    padding: 0;

    }

a, a:hover, a:active, a:visited {text-decoration: none; outline: none !important;}

.clear {
    clear:both;
    float: none !important;
}


a {
    color: #fac017;
}

a:hover {
    text-decoration: underline;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial;
    font-size:62.5%; /*1em is 10px */
    margin-right: 0 !important;
    background:url(../../images/index-top.png) center top no-repeat #fff;
    }

.center {
    max-width: 1200px;
    margin: 0 auto;
}

#wrap {
    min-height: 100%;
}

#main {
    padding-bottom: 340px;; /* must be equal to footer's height */
}

body:before {   /* old(real) Opera browser fix */
    content: "";
    float: left;
    height: 100%;
    margin-top: -32767px;
    width: 0;
}


.fancybox-lock {
    overflow: visible;
}

.fancybox-overlay {
    overflow: hidden !important;
}

img {
    max-height: 100%;
    max-width: 100%;
}

ul { list-style-type: none;}


h1 {font-size:22px;}
h2 {font-size:21px;}
h3 {font-size:20px;}
h4 {font-size:19px;}
h5 {font-size:18px;}
h6 {font-size:17px;}


#generror {
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
}
#generror > div.bodyerror {
    max-width: 930px;
    min-height: 113px;
    background: #fff;
    margin: 0% auto;
    position: relative;
    top: 33%;
}
#generror .icon {
    width: 40px;
    background: #FAC017;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    left: 0;
}
#generror .icon + div    {
    background: white;
    min-height: 73px;
    padding: 20px;
    margin-left: 40px;
}
#generror h6 {
font: bold 22px/22px 'PT Sans';
color: #7a3836;
text-transform: uppercase;
margin-bottom: 20px;
}
#generror p {
font: normal 14px/22px 'PT Sans';
color: #424242;
}
body.overflow-hidden {
overflow: hidden;
}
.close {
position: absolute;
top: 15px;
right: 15px;
font-size: 2em;
color: #000000;
    width: 26px;
    height: 26px;
    text-align: center;display: block;
font-family: 'Raleway';
opacity: 0.8;
}
.close:hover {
    opacity: 1;
    text-decoration: none;
}


/* ------------------------------------ GENERAL ------------------------------------- */

.right {
    float: right;
}

.left {
    float: left;
}

.no-border {  border: none !important;}
.no-right {   border-right: none !important;}
.no-left {    border-left: none !important;}
.no-bottom {    border-bottom: none !important;}
.no-top {    border-top: none !important;}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.hidden {
    display: none;
}

.tabulation {
    display: inline-block;
    width: 10px;
}

.uppercase {
    text-transform: uppercase !important;
}

.yellow {
    color: #F5CD0E !important;
    border-color: #F5CD0E !important;
}
.orange {
    color: #fac017 !important;
}

.white {
    color: #fff !important;
    border-color: #fff !important;
    background: #fff !important;
}

/* ERROR SUCCESS */

.error, .success, .warning, .note {
    position: relative;
    width: auto;
    margin: 20px 0px;
    padding: 10px 15px;
    font: bold 14px/18px "Raleway", Arial, sans-serif;
    color: #15172c;
}

.error {    background: #fd8b8b;}
.warning {  background: #fcdf8b;}
.success {  background: #9EE481;}
.note {     background: #81C9E4;}

.error ul, .success ul {
    list-style-type: disc;
    list-style-position: inside;
}

.error a:hover, .success a:hover, .field-error a { text-decoration: underline; }

.close {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 2em;
    color: #000000;
}


._404 {
    padding-bottom: 60px;
    min-height: 800px;

}

._404 .title {
    font-size: 50px;
}
._error {
    margin-bottom: 80px;
}

._404 .taxichester {
    cursor: pointer;
}

#ridehome {
 -webkit-transition: all 1.2s linear;
 -moz-transition:    all 1.2s linear;
 -o-transition:      all 1.2s linear;
 transition:         all 1.2s linear;

}



/* article inner page */

.inner-page {
    background: white;
    padding-bottom: 40px;
}

.inner-page article {
    min-height: 500px;
}

.formarticle,
.inner-page form article {
    min-height: 0;
    margin: 0px 0px 20px;
    padding: 20px 15px;
    background: #f0f0f0;
}

.hasicon {
    padding-left: 80px !important;
    background: url(../../images/warning-icon.png) 20px center no-repeat #f0f0f0 !important;
}

.inner-page form article p {
    margin: 4px 0;
}
.page-header {
    background: #f0f0f0;
    padding: 18px 0;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}
.page-header .title {
    padding: 0;
    text-align: left;
    text-transform: none;
    font-size: 27px;
    line-height: 36px;
}
article, p, article p, article ul, article ol {
    color: #32495e;
    font: normal 14px/22px Arial;
}

article ul, article ol {
    list-style-position: inside;
}

article ul, article ol, article p {
    margin: 10px 0;
}
article ul {
    list-style-type: disc;
}

article a:hover {
    text-decoration: underline;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-family: Arial;
    font-weight: bold;
    margin: 5px 0;
}

article a {
    color: #c99808;
}





/*  END GENERAL */



/* ------------------------------------ HEADER ------------------------------------- */


header {
    top:0;
    width: 100%;
    z-index: 999;
    height: 125px;
}

header .center {
    padding-top: 24px;
}

.logo,nav {
    float: left;
}

.orange {
    color: #fac017;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: inline-block;
    font:bold 17px/54px 'Raleway';
    color: #fff;
    padding: 0 20px;
    vertical-align: middle;
}

nav ul li.active a,
nav ul li a.active,
nav ul li a:hover {
    text-decoration: none;
    color: #fac017;
}

#menu,nav > label {
    display: none;
}

nav {
    padding-left: 100px;
    padding-top: 10px;
}

.phone,.mobileversion {
    margin-top: 3px;
    color: white;
    font: normal 17px/22px 'Raleway';
    padding-left: 65px;
    height: 60px;
    border-left: 1px solid white;
    background: url(../../images/_spriteChester.png) 13px 19px no-repeat;
}
.phone span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -10px;
}
.phone i {
    height: 70px;
    vertical-align: middle;
    display: inline-block;
}
/* ------------------------------------ END HEADER ------------------------------------- */





/* ------------------------------------ FOOTER ------------------------------------- */


footer {
    background: #15172c;
    position: relative;
    margin-top: -340px;
    height: 340px;
    clear: both;
}

.footer-top {
	padding-bottom: 40px;
    border-bottom: 1px solid #737380;
}

.fbox {
    float: left;
    width: 25%;
    padding-right: 20px;
    box-sizing: border-box;
}

.fbox ul li a {
    font: normal 13px/22px 'Raleway';
    color: #d6d4e4;
    min-width: 270px;
    display: block;
}

.fbox ul {
    display: inline-block;
    vertical-align: top;
}
.ftitle {
    color: white;
    font: bold 22px/24px 'Raleway';
    text-transform: uppercase;
    padding-top: 39px;
    padding-bottom: 15px;
}

.fbox.fbox3 {
    float: right;
    padding-right: 0;
}

footer address {
    font: normal 13px/22px 'Raleway';
    color: #d6d4e4;
}

.footer-bottom .center div {
    color: #d6d4e4;
    font: normal 12px/22px 'Raleway';
    padding: 22px 0;
}

.footer-bottom img {
    vertical-align: middle;
}

.footer-bottom .right a img {
    vertical-align: baseline;
}

.social {
    margin-top: 30px;
}

.social span {
    font: bold 14px/22px 'Raleway';
    text-transform: uppercase;
    vertical-align: middle;
    color: white;
    padding-right: 10px;
}

.social a {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url(../../images/_social.png);
    background-repeat: no-repeat;
    margin: 0 0 0 6px;
}
.fb {   background-position:4px 2px;}
.gp {   background-position:-27px 2px;}
.tw {   background-position:-59px 2px;}
.in {   background-position:-93px 0px;}
.fb:hover {   background-position:4px -20px;}
.gp:hover {   background-position:-27px -20px;}
.tw:hover {   background-position:-59px -20px;}
.in:hover {   background-position:-93px -22px;}
/* ------------------------------------ END FOOTER ------------------------------------- */


/* ------------------------------------ INDEX ------------------------------------- */

.title {
    display: block;
    text-align: center;
    font: bold 35px/42px 'Raleway';
    color: #15172c;
    padding: 55px 0;
    text-transform: uppercase;
}

.index-top {
    background:url(../../images/index-top.png) center -125px no-repeat #f0f0f0;
}

.index-top .title {
    padding: 30px 0;
}

.index-top h3, .subtitle {
    font: bold 28px/34px 'Raleway';
    color: #fff;
    text-align: center;
}

.index-top .article ul {
    list-style: disc outside none;
    font: bold 28px/34px 'Raleway';
    color: #fff;
}

.taxiChester {
    text-align: center;
    overflow: hidden;
}

.car {
    display: block;
    vertical-align: bottom;
    position: relative;
    right: 0;
    padding: 0px 20px 0;
    max-width: 905px;
    margin: 0 auto;
     -webkit-transition: all 2s ease-out;
     -moz-transition:    all 2s ease-out;
     -o-transition:      all 2s ease-out;
     transition:         all 2s ease-out;
}

.car.incoming {
    right: -100%;
}

.car.moveout {
    right: 240%;
     -webkit-transition: all 2.2s ease-in;
     -moz-transition:    all 2.2s ease-in;
     -o-transition:      all 2.2s ease-in;
     transition:         all 2.2s ease-in;
}

.car.moveout .wheel {
    -webkit-animation: rotation 2.2s ease-in infinite;
    -moz-animation:    rotation 2.2s ease-in infinite;
    -o-animation:      rotation 2.2s ease-in infinite;
    animation:         rotation 2.2s ease-in infinite;

}

.wheel {
    width: 122px;
    height: 122px;
    position: absolute;
    bottom: 3px;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    transform-origin: center;
}

.wheel.cf {
    background: url(../../images/wheel.png) center center no-repeat;
    bottom: 3px;
    left: 125px;
      -webkit-animation: rotation 2.22s linear forwards;
      -moz-animation:    rotation 2.22s linear forwards;
      -o-animation:      rotation 2.22s linear forwards;
      animation:         rotation 2.22s linear forwards;

}
.wheel.cb {
    background: url(../../images/wheel.png) center center no-repeat;
    bottom: 9px;
    right: 134px;
      -webkit-animation: rotation 2.22s linear forwards;
      -moz-animation:    rotation 2.22s linear forwards;
      -o-animation:      rotation 2.22s linear forwards;
      animation:         rotation 2.22s linear forwards;
}

.lights.cf {
    position: absolute;
    top: 76px;
    right: 30px;
    width: 38px;
    height: 160px;
    background: url(../../images/stop.png) center center no-repeat;
    opacity: 0;
      -webkit-animation: lights 1.5s linear 1.7s forwards;
      -moz-animation:    lights 1.5s linear 1.7s forwards;
      -o-animation:      lights 1.5s linear 1.7s forwards;
      animation:         lights 1.5s linear 1.7s forwards;

}

@-moz-keyframes lights {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90%{opacity: 1;}
    100% {opacity: 0;}

}
@-webkit-keyframes lights {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90%{opacity: 1;}
    100% {opacity: 0;}
}
@keyframes lights {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90%{opacity: 1;}
    100% {opacity: 0;}
}


@-moz-keyframes rotation {
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(-720deg);}
}
@-webkit-keyframes rotation {
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(-720deg);}
}
@keyframes rotation {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-720deg);}
}
@media screen and (min-width:1200px) {
    @-moz-keyframes rotation {
        0%{-webkit-transform: rotate(0deg);}
        100%{-webkit-transform: rotate(-1080deg);}
    }
    @-webkit-keyframes rotation {
        0%{-webkit-transform: rotate(0deg);}
        100%{-webkit-transform: rotate(-1080deg);}
    }
    @keyframes rotation {
        0%{transform: rotate(0deg);}
        100%{transform: rotate(-1080deg);}
    }
}


form {
    font-size: 0;
}

.index-top form {
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 60px;
}

.ffield {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 35px;
    margin-right: 40px;
}

.ffield .ffield {
    margin: 0;
}

label {
    color: #15172c;
    font: bold 17px/20px 'Raleway';
    display: block;
    padding: 5px 0 10px;
}

select, input[type="text"],input[type="email"],input[type="password"],input[type="data"], textarea  {
    width: 185px;
    height: 42px;
    font: normal 14px/42px 'Raleway';
    color: white;
    background: #15172c;
    border: transparent;
    text-indent: 13px;
}

.picker-wrapper .tf-select {
    width: 70px;
}

.tf-select {
    width: 185px;
    font: normal 14px/42px 'Raleway';
    color: white;
    background: #15172c;
    height: 42px;
    position: relative;
    text-indent: 15px;
    border: 0;
    vertical-align: top;
}

.tf-select .tf-selected {
    width: 100%;
}
.tf-button {
    position: absolute;
    right: 4px;
    top:10px;
    height: 20px;
    width: 20px;
    background: url(../../images/_spriteChester.png) center -93px no-repeat;
}

.tf-menu {
    left: 0;
    right: 0;
    top:100%;
    background: #fff;
    color: #15172c;
    line-height: 30px;
    z-index: 222;
}

.tf-menu>div:hover{
    background: #15172c;
    color: #fff;
}

input[type="submit"], .mbtn.mbtn-orange.mbtn-big {
    background: #FAC017;
    width: 100%;
    height: 78px;
    padding-bottom: 55px;
    font: bold 24px/78px 'Raleway';
    color: #15172c;
    border: 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none !important;
}

input[type="submit"]:hover,.mbtn.mbtn-orange.mbtn-big:hover {
    background: #15172c;
    color: #FAC017;
}

.picker__list {
    padding-bottom: 0;
}
.picker--time .picker__button--clear {
    width: auto;
    margin-bottom: 8px;
}
.picker__nav--next:hover, .picker__nav--prev:hover,
.picker__button--clear:hover, .picker__button--close:hover, .picker__button--today:hover,
.picker--focused .picker__day--highlighted, .picker__day--highlighted:hover, .picker__day--infocus:hover, .picker__day--outfocus:hover,
.picker--focused .picker__list-item--highlighted, .picker__list-item--highlighted:hover, .picker__list-item:hover {
    background-color: #d6d4e4;
}

.picker__list-item--highlighted, .picker__list-item:hover {
    border-color: #15172C;
}

.picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected:hover,
.picker--focused .picker__list-item--selected, .picker__list-item--selected, .picker__list-item--selected:hover {
    background: #15172C;
}
.picker__button--close:before,
.picker__button--clear:before, .picker__button--today:before {
    display: none;
}

.picker__holder {
    min-width: 300px;
}
.picker--time .picker__holder {
    min-width: 176px;
    max-width: 176px;
}
.relative .picker--time {
    left: 0;
}
.picker-wrapper {position: relative;}
.picker-wrapper+.picker-wrapper {
    margin-left: 20px;
}

#time, #time2 {
    width: 170px;
}

#hr, #min {
    width: 70px;
}

.dots:before {
    content: "";
    width: 10px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    margin-left: -15px;
    margin-right: 5px;
    background: url(../../images/_spriteChester.png) center -209px no-repeat;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
}

select, #time, #time2,#passengers {
    background-image: url(../../images/_spriteChester.png);
    background-position: 150px -82px;
    background-repeat: no-repeat;
}

#time, #time2 {
    background-position: 136px -82px;
}

#date,#date2 {
    background-image: url(../../images/_spriteChester.png);
    background-position: 150px -42px;
    background-repeat: no-repeat;
}
label .tf-radio.tf-disabled {border-color: #aaa;}
label .tf-disabled + img {
    opacity: 0.6;
}
.tf-select.tf-disabled,
select[disabled],
input[disabled] {
    background-color: #aeaeb5;
}

input[disabled]::-webkit-input-placeholder {
    color: white;
}
input[disabled]::-moz-input-placeholder {
    color: white;
}

.tf-checkbox+.datetime .dots:before {background-position: center -239px;}
.tf-checkbox.tf-checked+.datetime .dots:before {background-position: center -209px;}

.tf-radio input,
.tf-checkbox input {
    position: absolute;
    width: 100px;
    opacity: 0;
    height: 100px;
    top: -50%;
    left:-50%;
    right: 0;
    bottom: 0;
}
.tf-checkbox span {
    display: block;
    height: 24px;
}
.tf-checkbox, .tf-radio {
    width: 24px;
    height: 24px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #15172C;
    margin: 0px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.tf-checked {
    background-image: url(../../images/_spriteChester.png);
    background-position: -2px -122px;
    background-repeat: no-repeat;
}


.frow > *:last-child {
    margin-right: 0;
}








.gbgr, .wbgr {
    padding-bottom: 80px;
}
.gbgr {
    background: #ececec;
}



.slider-wrapper {
    position: relative;
}
.slide .title {
    font-size: 17px;
    line-height: 22px;
    text-transform: none;
    padding: 20px 0 10px;
}
.slider .slide {
    width: 185px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.slider-wrapper .slide {
    display: block;
    margin: 0 auto;
}

.slider .owl-item {
    padding-top: 5px;
}

.slider > div .img-wrap {
    background: white;
    font-size: 0;
    height: 185px;
    position: relative;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}

.slider > div .img-wrap:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 185px;
}
.slider > div .img-wrap img {
    vertical-align: middle;
}

.slider-wrapper .owl-controls {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    text-align: center;
}

.owl-page.active {
    background: #15172c;
}
.owl-page {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    background: #9593a5;
}

.hover {
    position: absolute;
    top: 0;
    left: -1px;
    margin-left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: none;
}

.slide:hover .hover {
    display: block;
}

.hover a {
    width: 275px;
    height: 140px;
    display: inline-block;
    vertical-align: top;
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
    background: #3e3b5f;
    background: rgba(62, 59, 95, 0.9);
    position: absolute;
}

.hover a:hover {
    background: rgba(62, 59, 95, 0.8);
}

.hover a:first-child {
    top: -25px;
    left: -95px;
}
.hover a+a {
    top: 72px;
    left: 4px;
    left: 5px;
}

.orient {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    font: bold 25px/35px 'Raleway';
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top:47px;
}
.hover a:hover .orient{
    color: #fac017;
}

a+a .orient {
    top:17px;
}

.orient i {
    margin: 5px 0;
    display: block;
    width: 60px;
    height: 35px;
    background-image: url(../../images/spriteArrows.png);
    background-repeat: no-repeat;
}

a .orient i {
    background-position: -0px -40px;
}
a:hover .orient i {
    background-position: -0px 0;
}
a+a .orient i {
    background-position: -75px -40px;
}
a+a:hover .orient i {
    background-position: -75px 0;
}


.mbtn {
    display: inline-block;
    vertical-align: middle;
    font: bold 14px/45px 'Raleway';
    padding: 0 10px;
    color: #15172c;
    text-align: center;
}

.mbtn:hover {
    text-decoration: none;
}

.mbtn-orange {
    background: #fac017;
}
.mbtn-orange:hover {
    background: #15172c;
    color: white;
    color: #fac017;
}

.readmore {
    min-width: 250px;
}

.car2 {
    background:url(../../images/car2.png) -100% center no-repeat ;
    padding-bottom: 100px;
    margin-bottom: -100px;
 -webkit-transition: all 0.2s linear;
 -moz-transition:    all 0.2s linear;
 -o-transition:      all 0.2s linear;
 transition:         all 0.2s linear;

}

.car2 .w50 {
    padding-left: 50%;
}
.car2 article {
    background: rgba(255, 255, 255, 0.84);
    padding: 10px;
}


/* FIXED */
@media screen and (min-width:768px) {
    a.mbtn.mbtn-orange.sticky {
        width: 240px;
        height: 48px;
        line-height: 48px;
    }

    .fixed .logo {
        display: none;
    }

    .fixed header .center {
        padding-top: 0;
    }

    .fixed ul .sticky {
        display: list-item !important;
    }
    .fixed .mbtn.mbtn-orange.sticky {
        display: block !important;
    }
    .sticky,
    .fixed .static {
        display: none !important;
    }


    .fixed .forfixing {
        background: white;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        z-index: 222;
         -webkit-transition: all 0.2s linear;
         -moz-transition:    all 0.2s linear;
         -o-transition:      all 0.2s linear;
         transition:         all 0.2s linear;

    }

    .fixed .forfixing.dark {
        background: #15172c;
    }

    .fixed nav {
        padding: 0;
    }
    .fixed nav li a {
        font: bold 14px/48px 'Raleway';
        color: #15172c;
    }
    .fixed .forfixing.dark nav li a {
        color: white;
    }

    .fixed .forfixing.dark nav lia.active,
    .fixed .forfixing.dark nav li.active a,
    .fixed .forfixing.dark nav li a:hover {
        color: #15172C;
        background-color: #F0F0F0;
    }
    .fixed .forfixing.dark nav li.home a {
        background-color: transparent ;
        background-position: center -150px;
    }

    .fixed .forfixing.dark nav li a.active,
    .fixed .forfixing.dark nav li.active a,
    .fixed .forfixing.dark nav li a:hover {
        color: #15172C;
    }

    .fixed nav .home a {
        font-size: 0;
        width: 30px;
        margin-top: 12px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        background: url(../../images/_spriteChester.png) center -181px no-repeat;
    }



    .fixed .phone {
        background: 0;
        border-left:0;
        margin: 0;
        padding-left: 0;
        height: auto;
    }
}
/* ------------------------------------ END INDEX ------------------------------------- */
.list .slide {
    margin: 0 9px 20px;
    min-height: 320px;
    text-align: center;
}

.list .slider {
    margin: 30px -10px 0;
    font-size: 0;
    text-align: left;
}

.list .price {
    background: #fac017;
    font: bold 18px/30px 'Arial';
    color: #15172c;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 0;
    min-width: 80px;
    padding: 0 10px;
    position: relative;

}
.list .price:after {
    content: "";
    border: 15px solid transparent;
    border-right: 0;
    border-left-color: #fac017;
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    right: -15px;
    top:0;
    bottom: 0;
    margin: auto;
}

.pagination {
    margin: 20px 0 40px;
    text-align: center;
}

.pagination > * {
    width: 30px;
    height: 30px;
    text-align: center;
    font: bold 15px/28px 'Raleway';
    color: #15172c;
    background: #9593a5;
    display: inline-block;
    vertical-align: middle;
}
.pagination > *:hover,
.pagination > .active {
    background: #15172c;
    color: white;
    text-decoration: none;
}

/* customer form / contact page  */
#shcfrom {
    position: absolute;
    right: 20px;
    top:20px;
    font-size: 30px;
    font-weight: normal;
    display: inline-block !important;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background: #fff;
    color:#15172c;
    opacity: 0.7;
    text-align: center;
    text-decoration: none;
}

#shcfrom:hover {
    opacity: 1;
}

.closed #shcfrom {
    font-size: 0;
}

.closed #shcfrom:after {
    font-size: 30px;
    line-height: 31px;
    content: "+";
}

.closed.cheader address {
    line-height: 24px;
}

.contact {
    min-height: 1000px;
    position: relative;
}
.cinfo {
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
}
.cinfo .center {
    max-width: 800px;
}

.cheader {
    background: #15172c;
    padding: 30px;
    position: relative;
}
.cheader .ctitle {
    color: white;
    font: normal 28px/32px 'Raleway';
    padding: 0;
    padding-bottom: 20px;
}
.cform {
    background: #fff;
    padding: 30px 0 20px 30px;
}

.cheader address {
    color: white;
    font: normal 14px/36px 'Raleway';
     -webkit-transition: all 0.2s linear;
     -moz-transition:    all 0.2s linear;
     -o-transition:      all 0.2s linear;
     transition:         all 0.2s linear;

}

.cform .ffield {
    width: 46%;
    margin-right: 4%;
}

.cform .ffield.fw {
    width: 96%;
}
.cform textarea,
.cform input {
    width: 100%;
    background: #e7e7e9;
    color: #15172c;
    border: 1px solid transparent;
     -webkit-transition: all 0.2s linear;
     -moz-transition:    all 0.2s linear;
     -o-transition:      all 0.2s linear;
     transition:         all 0.2s linear;

}

.cform textarea:focus,
.cform input:focus {
    border-color:#15172c;
}
.cform textarea {
    height: 190px;
    resize: none;
}


#map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;;
    top:70px;
    margin: auto;
    z-index: 1;
    background: #f7f7f7;
}

#map img {
    max-width: 1000px;
    max-height: 1000px;
}



/* checkout */

.checkout {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 0;
}

.checkout .right {
    width: 72%;
}

.checkout .img-wrap {
    width: 300px;
    width: 100%;
    height: 300px;
/*     background: url(../images/noimage.jpg) center center no-repeat; */
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.checkout .img-wrap img {
    vertical-align: middle;
}
.checkout .img-wrap {
    text-align: center;
}
.checkout .img-wrap:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 300px;
}



.step-wrap, .options-top {
    background: #f0f0f0;
    margin-bottom: 20px;
}
.options-bottom .frow > .ffield {
    margin-bottom: 15px;
}
.steptitle {
    color: #ffffff;
    font: bold 17px/22px 'Raleway';
    background: #15172c;
    padding:15px 20px;
    display: block;
}

.options-top .left {
    padding: 18px 15px 0 35px;
    position: relative;
}

.switchval {
    background: url(../../images/switchval.png) center center no-repeat;
    width: 30px;
    height: 210px;
    display: inline-block;
    position: absolute;
    top:12px;
    right: 12px;
     -webkit-transition: all 0.1s linear;
     -moz-transition:    all 0.1s linear;
     -o-transition:      all 0.1s linear;
     transition:         all 0.1s linear;

}
.switchval:hover {

}

.options-top input {
    background: #dadadc;
    color: #15172c;
    min-width: 254px;
}
.options-top .ffield+.ffield {
    margin-top: 8px;
}
.options-top .ffield {
    display: block;
    margin-bottom: 0px;
}

.left.passengers {
    background: #fac017;
    padding: 35px 10px 22px 22px;
    position: relative;
}

.passengers div label {
    width: 36px;
    height: 36px;
    background: #ffffff;
    padding: 0;
    position: relative;
    float: left;
    margin: 0 14px 14px 0;
    cursor: pointer;
}

.passengers label .tf-radio {
    width: 36px;
    height: 36px;
    background: #ffffff;
    position: absolute;
    left: 0;
    margin: 0;
    border: transparent;
}
.passengers label span {
    position: relative;
    color: #15172c;
    font: normal 17px/36px 'Arial';
    text-align: center;
    display: block;
}
.passengers label .tf-checked {
    background: black;
}
.passengers label .tf-checked + span {
    color: white;
}

.toprow {
    margin-top: 10px;
}
.toprow, .bottrow {
    display: block;
    clear: both;
    overflow: hidden;
}

.ppp {
    position: absolute;
    right: -100%;
    top:71px;
    background: #15172c;
    font: bold 30px/52px 'Arial';
    height: 52px;
    color: #ffffff;
    text-align: center;
    min-width: 185px;
    -webkit-transition: all 0.2s linear;
    -moz-transition:     all 0.2s linear;
    -o-transition:   all 0.2s linear;
    transition:          all 0.2s linear;

}

.ppp._isbot {
    top:120px;
}

.ppp > i {
    position: absolute;
    background:url(../../images/arrowleft.png) center center no-repeat ;
    width: 25px;
    height: 52px;
    left: -24px;
}

.average {
    display: block;
    font: normal 13px/22px 'PT Sans';
    color: black;
}

.checkout .ffield.right {

}
.mbtn.mbtn-orange.mbtn-big.right {
    float: right;
    max-width: 220px;
    font-size: 17px;
    height: 57px;
    line-height: 57px;
    margin-top: 20px;
}

.step2 {
    margin-top: 20px;
}

#checkmap {
    width: 100%;
    background: white;
}

#checkmap img {
    max-width: 10000px;
    max-height: 10000px;
}

.checkout .left.column {
    width: 25%;
}

.checkout .left strong {
    font: bold 14px/22px 'Raleway';
    color: #15172c;
    display: block;
    text-align: center;
    padding: 25px 0 0;
}

.checkout .left strong .price {
    font: bold 30px/36px 'Arial';
    display: block;
    margin-top: 20px;
}

hr {
    background: #d1d1d4;
    height: 1px;
    border: 0;
    margin: 15px 0;
}

.checkout .left .step-wrap > div {
    padding: 0 10px 20px;
}
.sidelabel, .sidevalue {
    font: normal 14px/18px 'Raleway';
    color: #15172c;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.sidevalue {
    font-weight: bold;
    width: 170px;
}

.step-wrap p, .terms {
    padding: 12px 10px;
    font: normal 13px/22px 'Raleway';
    color: #15172c;
}
.step-wrap.customer-step * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.step-wrap input, .step-wrap textarea {
    background: #dadadc;
    color: #15172c;
    width: 100%;
    resize: none;
}
.payment-step .steptitle,
.customer-step .steptitle {
    margin-bottom: 25px;
}
.step-wrap textarea {
    height: 112px;
}
.step-wrap .frow {
    padding: 0 25px;
}
.step-wrap .ffield {
    width: 50%;
    padding-right: 30px;
    margin-right: 0;
    margin-bottom: 25px;
}
.step-wrap .ffield.fw {
    width: 100%;
}
.customer-step label {
    font-size: 14px;
}
.customer-step {
    padding-bottom: 20px;
}

.checkout input#vias_location {
    width: 310px;
}

.example {
    font: normal 14px/22px 'Raleway';
    color: #15172c;
}


.payment-step label {
    float: left;
    cursor: pointer;
    width: 33.33%;
}

.payment-step label strong {
    display: block;
    margin-bottom: 10px;
}
.payment-step .tf-radio {
    vertical-align: top;
    margin-left: 0;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    border:2px solid #15172c;
    background: 0;
}
.payment-step .tf-radio.tf-checked {background: #fff;}
.payment-step .tf-radio.tf-checked span {
    width: 12px;
    height: 12px;
    background: #aeaeb5;
    display: block;
    position: absolute;
    top:0;left: 0;right: 0;
    bottom: 0;
    margin: auto;
}

.payment-step > div {
    padding: 0 20px;
}

.terms {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.g-recaptcha.ffield {
    margin-top: 14px;
}

.terms a {
    color: #c99808;
}
/* ---- Templates Preview ---- */
div#templates-preview {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #3C6C07;
    padding: 0px;
    margin-bottom: 10px;
    z-index: 98710;
    text-align: left;
    opacity: 1;
    font-size: 11px;
    width: 7px;
    height: 7px;
    overflow: hidden;
    text-indent: -9999px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 20px;
}
div#templates-preview:hover {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
    width: auto;
    height: auto;
    padding: 10px;
    text-indent: 0;
    cursor: help;
    background-color: #F1F1F1;
}


div#templates-preview a {
    color: black;
}
div#templates-preview a:hover {
    color: black;
    text-decoration: underline;
}
.mustcalculate {
    font-size: 12px;
    line-height: 16px !important;
    display: inline-block;
    position: relative;
    vertical-align: baseline;
    top:2px;
}
.mobileversion,
.viewmobile {display: none;}



/* vvvvvvvvvvvvvv < MEDIA QUERIES > vvvvvvvvvv */



@media screen and (min-width:1200px) {
    .car2 {
        background:url(../../images/car2.png) -70% center no-repeat ;
    }
}
@media screen and (min-width:1400px) {
    .car2 {
        background:url(../../images/car2.png) -50% center no-repeat ;
    }
}
@media screen and (min-width:1700px) {
    .car2 {
        background:url(../../images/car2.png) 0% center no-repeat ;
    }
}
@media screen and (min-width:2000px) {
    .index-top {
        background-size: cover;
            margin-top: -125px;
        padding-top: 125px;
    }
    .taxiChester + .center {
        background:  #f0f0f0;
        background:  rgba(240, 240, 240, 0.62);
    }

}









@media screen and (max-width:1280px) {
    .center {
        padding: 0 20px;
    }
    nav {
        padding-left: 45px;
    }
}
@media screen and (max-width:1200px) {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    nav ul li a {
        padding: 0 10px;
    }
    .fbox ul li a {
        min-width: 230px;
    }
    .checkout .left.column {
        width: 29%;
    }
    .checkout .right {
        width: 68%;
    }
    .options-top .left:first-child {
        width: 100%;
    }
    .left.passengers {
        margin: 20px;
        margin-left: 35px;
    }
    .options-top input {
        width: 100%;
    }
    .payment-step .tf-radio {
        position: absolute;
    }
    .payment-step img {
        border-bottom: 1px solid transparent;
    }
    .payment-step .tf-checked + img {
        border-bottom-color: black;
    }
}
@media screen and (max-width:1080px) {
    .car2 .w50 {
        padding: 20px;
    }
    .phone {
        padding-left: 10px;
        background: 0;
    }
    .fbox ul+ul {
        display: none;
    }
    #map {
        top:0;
    }
}


@media screen and (max-width:1024px) {
    .lights,
    .wheel {
        display: none !important;
    }
    .car img {
        opacity: 0;
    }
    .car {
        background: url(../../images/taxichester_old.png) center center no-repeat;
        background-size: contain;
    }
    a.mbtn.mbtn-orange.mbtn-big.right {
        width: 100%;
        float: none;
        max-width: 1000px;
    }

}
@media screen and (max-width:980px) {
    .phone{display: none;}
    .fbox {
        width: 23%;
    }

}
@media screen and (max-width:920px) {
}


@media screen and (max-width:860px) {
    nav ul li.home {
        display: none;
    }
    nav {
        padding-left: 20px;
    }
    .fixed nav ul li.home {
        display: block;
    }
    .fbox {
        width: 30%;
    }
    .fbox ul li a {
        min-width: 200px;
    }
    .payment-step label {
        width: auto;
        display: block;
        float: none;
        text-align: center;
    }
    .step-wrap .ffield {width: 100%;margin-bottom: 15px;padding-right: 0;}
    .checkout .left.column {
        width: 38%;
    }
    .checkout .right {
        width: 60%;
    }
    .options-top .left {
        padding-left: 15px;
    }
    .left.passengers {
        margin-left: 15px;
    }.list .slider{text-align: center;}
    .footer-top {height: auto;}
    .fbox.fbox3 {float: left;}
    .car2 .readmore {display: block;}
}

@media screen and (max-width:800px) {
    .checkout .right, .checkout .left.column {
        width: 100%;
    }
    .checkout .img-wrap {
        border: 2px solid #F0F0F0;
        border-bottom: 0;
        box-shadow: none;
    }
    .nbsp {display: none !important;}
}
@media screen and (max-width:767px) {
    .mobileversion {
        content: "";
        display: inline-block;
        vertical-align: top;
        position: absolute;
        right: 100px;
        top:12px;
        border: 0;
        width: 0;
        cursor: pointer;
        z-index: 50;
    }
    .viewmobile {display: block;}
    #menu+label span, #label-menu div {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0px;
        bottom: 0;
        width: 30px;
        margin-top: 10px;
        height: 4px;
        background: #fff;
        box-shadow: 0 18px 0 0 #fff, 0 9px 0 0 #fff;

        width: 50px;
        height: 6px;
        background: #fff;
        box-shadow: 0 26px 0 0 #fff, 0 13px 0 0 #fff;
    }
    nav > label {
        width: 100px;
        display: block;
        height: 50px;
        float: right;
        padding: 0;
        position: relative;
        cursor: pointer;    }
    .page-header .title {
        font-size: 4vw;
        line-height: 1;
    }
    nav {
        -webkit-perspective: 500px;
        -moz-perspective: 500px;
        perspective: 500px;
        padding-left: 0;
        float: right;
        position: relative;
        z-index: 3;
    }
    nav ul {
        position: relative;
        -webkit-transform-origin: left top;
        -moz-transform-origin: center top;
        transform-origin: left top;
/*
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
*/
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 0px;
        display: block;
        vertical-align: top;
        width: auto;
        margin: 0 -20px;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        clear: both;
        overflow: hidden;
    }
    #menu:checked ~ ul {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        height: auto;
        padding: 10px 0;
        background: #332D39;
        height: 270px;
        border-bottom: 2px solid #FAC017;
    }
    nav ul li {
        display: block;
        float: none;
        padding: 0 10px;
        background: #332D39;
    }
    nav ul li:hover {
        background: #332D39;
    }
    nav > label,nav ul li a {
        display: block;
        line-height: 45px;
    }
    .fixed nav ul li.home {
        display: none;
    }
    header .center {
        padding-top: 10px;
    }
    header {
        height: 95px;
    }
    .logo {
        position: relative;
        z-index: 4;
    }
    .title {
        padding: 2% 0;
        font-size: 4vw;
    }
    .index-top .title {
        padding: 2% 0;
    }
    .index-top h3, .subtitle {
        font-size: 3vw;
    }
    .index-top form {
        background: #f0f0f0;
        margin: 0 -20px;
        padding: 20px;
    }
    footer {
        height: auto;
    }
    .footer-bottom { text-align: center; }
    .footer-bottom .right {
        float: none;
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
    }
    .fbox {
        display: none;
    }.footer-top{height: auto;padding-bottom: 20px;}
    .fbox+.fbox+.fbox, .fbox.fbox3 {
        display: block;
        float: none;
        width: auto;
        padding-right: 0;
        text-align: center;
    }

}

@media screen and (max-width:746px) {
}

@media screen and (max-width:680px) {
}

@media screen and (max-width:600px) {
        .title {font-size: 24px;padding: 10px 0;}

}
@media screen and (max-width:560px) {
    .ffield label {
        display: inline-block;
        width: 50%;
        padding-right: 10px;
        margin-bottom: 10px;
    }
    #time, #time2 {
        width: 115px;
    }
    .cform {
        padding: 10px;
    }
    .cform .ffield.fw {
        width: 100%;
        margin: 10px 0 0;
    }
    .ffield,.cform .ffield {
        width: auto;
        display: block;
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .ffield.datetime {
        display: inline-block;
    }
    .checkout .frow:first-child .ffield:first-child label,
    .index-top .frow:first-child .ffield label {
        display: none;
    }
    .mbtn.mbtn-orange.mbtn-big.right { display: block; float: none; margin: 20px auto; }

    select, input[type="text"], input[type="email"], input[type="password"], input[type="data"], textarea {
        width: 100%;
    }
    .ffield.datetime {
        display: block;
    }
    .picker-wrapper,input#passengers {
        max-width: 185px;
        display: inline-block;
        vertical-align: middle;
    }
    .picker--time .picker__holder {
        min-width: 80px;
        max-width: 115px;
    }
    .ppp {
        position: relative;
        top:auto !important;
        right: auto !important;
    }
    .ppp > i {
        display: none;
    }
    .left.passengers {
        width: 100%;
        padding-bottom: 30px;
        text-align: center;
        margin: 20px 0 0;
    }
    .passengers div label {
        width: 24%;
        margin: 0 1% 1% 0;
    }
    .passengers label .tf-radio {
        width: 100%;
    }
    .options-top .ffield {
        padding-right: 40px;
    }
    .switchval {
        height: 120px;
        top:70px;
        bottom: 0;
        margin: auto;
    }
    .step-wrap.customer-step .ffield label {
        width: 100%;
    }
    .checkout input#vias_location {
        width: 100%;
    }
}

.popUp { display: none; width: 930px; min-height: 113px; background: #fff; }
#generror { position: static; top: auto; right: auto; bottom: auto; left: auto; height: auto; }
#cboxLoadedContent .popUp {
    display: block;
}

@media screen and (max-width:480px) {
    .page-header .title {
        font-size: 7vw;
    }
    .center {
        padding-left: 10px;
        padding-right: 10px;
    }
    .index-top form {
        margin: 0 -10px;
        padding: 10px;
    }
    .mobileversion {
        padding-left: 45px;
        background-position: 6px 19px;
    }
}


@media screen and (max-width:450px) {
}

@media screen and (max-width:410px) {
}

@media screen and (max-width:380px) {
    .ffield.datetime .picker-wrapper:not(.relative) {
        width: 100%;
        max-width: 1000px;
        margin-bottom: 10px;
    }
    #date, #date2 {
        background-position: 98% -42px;
    }
    .picker-wrapper+.picker-wrapper {
        margin-left: 0;
        margin-right: 20px;
    }

}

@media screen and (max-width:360px) {

}


@media screen and (max-width:330px) {
    .mobileversion {
        padding-left: 0;
    }

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

@media all and (orientation: portrait) {

}

@media all and (orientation: landscape) {

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { /*ipads*/

}

@media screen and (min-width:0\0) {
    /* Enter ~~~IE 9 10 11CSS here */
}
